{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    ["ttag", {
      "extract":{ "output": "i18n/polyglot_result.pot" },
      "numberedExpressions": true
      }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["import", {
      "libraryName": "antd",
      "style": true,   // or 'css'
    }]
  ]
}
