{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "modules": false
      }
    }],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["lodash"],
    ["ttag", {
      "extract":{ "output": "i18n/polyglot_result.pot" },
      "numberedExpressions": true
      }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
