$avatar-margin: -2.25em;

.user-card {
    position: relative;
    margin: 0.8em auto;

    &:hover .avatar {
        margin-top: ($avatar-margin) - 0.3;
    }

    a:not(.commission-price) {
        color: unset;
        text-decoration: unset;
    }

    .avatar {
        width: 4.5em;
        height: 4.5em;
        border-radius: 25%;
        position: absolute;
        left: 0;
        right: 0;
        margin: $avatar-margin auto;
        overflow: hidden;
        transition: all 0.25s;

        img {
            border-radius: 25%;
        }
    }

    .info {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }

    .commission-price {
        @apply text-primary;

        & + ::before {
            content: '•';
            @apply text-gray-500;
            margin: 0 0.5em;
            text-decoration: none;
            cursor: unset;
        }
    }

    .tags {
        white-space: nowrap;
        overflow: hidden;
    }
}
