$avatar-margin: -2.25em;

.creator-card {
    position: relative;
    margin: 0.8em auto;

    a:not(.commission-price) {
        color: unset;
        text-decoration: unset;
    }

    .cover-container {
        height: 100px;
        position: relative;
        overflow: hidden;

        .cover {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            margin: auto 0;
        }

        img.cover {
            top: -999px;
            bottom: -999px;
        }
    }

    .avatar {
        width: 4.5em;
        height: 4.5em;
        border-radius: 5%;
        overflow: hidden;
        transition: all 0.25s;

        img {
            border-radius: 5%;
            width: inherit;
            height: inherit;
        }
    }

    .name {
        width: 100%;
        text-align: center;

    }

    &:hover .name {
        @apply text-primary;
    }

    .info {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }

    .commission-price {
        @apply text-primary;

        & + ::before {
            content: '•';
            @apply text-gray-500;
            margin: 0 0.5em;
            text-decoration: none;
            cursor: unset;
        }
        
    }

    .tags {
        white-space: nowrap;
        overflow: hidden;
    }

    &:hover {
        border: 0.1em solid;
        @apply border-primary;
        box-shadow: 0 4px 8px 0 rgba(152, 162, 179, 0.15), 0 2px 2px -1px rgba(152, 162, 179, 0.3);
        transform: translateY(-2px);
    }
}
