.user-info-panel {

    .avatar-container {
        margin: auto;
        width: 5em;
        .avatar {
            width: 5em;
            height: 5em;
        }
    }

    .info {
        text-align: center;
    }

    .name {
        font-weight: 600;
    }

}
