@import '~@assets/styles/common.scss';

#profile-header {
    height: 25em;
    width: 100%;
    position: relative;
}

#profile-header .container,
#profile-header .container .cover {
    height: inherit;
}

#profile-header .container .cover {
    position: relative;
    overflow: hidden;
}

#profile-header .container {
    position: relative;
}

$avatar-indent: 2.5em;
$header-container-indent: 16em;

.avatar {
    width: 12em;
    height: 12em;
    border-radius: 10%;
    overflow: hidden;
    
    img {
        border-radius: 10%;
    }
}

#profile-header .container .avatar {
    position: absolute;
    right: $avatar-indent;
    bottom: -6em;
    z-index: 3;
}

#profile-header .gradient {
    @extend .inverted-top-gradient;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

#profile-header .container .cover-image {
    position: absolute;
    left: 0;
    right: 0;
    top: -99999px;
    bottom: -99999px;
    width: 100%;
    margin: auto 0;
}

#profile-header #header-container {
    height: 5.5em;
    line-height: 4.5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: $header-container-indent;
    padding: 0.5em;
    padding-left: 1em;
}
