.commission-card {
    width: 12rem;
    position: relative;
    overflow: visible;

    .header {
        margin: 0;
        padding: 0.8em;

        .price {
            @apply border-primary;
            @apply text-primary;
            @apply text-base;
            @apply bg-gray-000;
            @apply rounded;
            border: 0.1em solid;
            padding: 0.1em 0.4em;
            font-weight: 600;
            position: absolute;
            top: -1em;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
            letter-spacing: .05em;
        }

        .title {
            margin: auto;
            width: 100%;
            text-align: center;
            line-height: 1.6;
            font-weight: 500;
        }

        .extra {
            color: rgba(0, 0, 0, 0.5);
            font-style: italic;
        }

        .extra-row > div:first-child {
            margin-top: 0.4em;
        }
    }

    .select-box {
        @apply text-primary;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        width: 100%;
        font-weight: 600;
    }
}

a > .commission-card:hover {
    cursor: pointer;
}

a > .commission-card:hover,
.commission-card.selected,
.commission-rates-group label input:checked + .commission-card {
    border: 0.1em solid;
    @apply border-primary;
    box-shadow: 0 4px 8px 0 rgba(152, 162, 179, 0.15), 0 2px 2px -1px rgba(152, 162, 179, 0.3);
    transform: translateY(-2px);
}

.commission-rates-group {
    label input {
        text-align: center;
        width: 100%;
    }
}

.commission-card-info {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.4em;
    margin-top: 0.3em;
}