.commission-card {
    width: 12rem;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    .header {

        margin: 0;
        padding: 0.8em;

        .price {
            @apply border-primary;
            @apply text-primary;
            font-size: 1.2em;
            border: 1px solid;
            padding: 0.3em;
            border-radius: 2px;
            font-weight: 600;
        }

        .title {
            margin: auto;
            width: 100%;
            text-align: center;
            line-height: 1.6;
            font-weight: 500;
        }

        .extra {
            color: rgba(0, 0, 0, 0.5);
            font-style: italic;
        }

        .extra-row > div:first-child {
            margin-top: 0.4em;
        }

    }

    .select-box {
        @apply text-primary;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        width: 100%;
        font-weight: 600;
    }
}

.commission-card:hover, .commission-card.selected, .commission-rates-group label input:checked + .commission-card {
    border: 0.15em solid;
    @apply border-primary;
}

.commission-rates-group {
    
    label input {
        text-align: center;
        width:100%
    }
}