.user-sidebar {
    padding-top: 1em;

    .avatar {
        font-size: 6pt;
        margin: auto;
    }
}

.stat-info {
    strong {
        font-size: 2em;
        display: block;
    }

    small {
        font-size: 1em;
    }
}
