@button-ripple: false;
@font-family-base: 'Source Sans Pro', sans-serif;

@font-size-base: 15px;
@font-size-large: 17px;
@font-size-small: 13px;
@font-size-extra-small: 13px;

//== Colors

@base-color: #EE6666;

@H050:#FDF0F0;
@H100:#FAD1D1;
@H200:#F7B3B3;
@H300:#F39494;
@H400:#F07575;
@H500:#EE6666;
@H600:#D65C5C;
@H700:#A74747;
@H800:#773333;
@H900:#471F1F;


//** Gray levels.
@B000: #fff;
@B050: #f7f7fa;
@B100: #f2f2f5;
@B200: #e5e5ea;
@B300: #d9d9d9;
@B400: #c5c6c7;
@B500: #a6a6a6;
@B600: #8e8e93;
@B700: #7a7a7a;
@B800: #575757;
@B900: #272c36;

//** spectrum
@red: #db2828;
@orange: #f2711c;
@yellow: #fbbd08;
@green: #21ba45;
@cyan: #00b5ad;
@blue: #2185d0;
@violet: #a333c8;
@spectrum: red, orange, yellow, green, cyan, blue, violet;


@body-bg: #FAFBFC;
@border-base-color: @B700;
@text-color: @B800;

//** Sub colors.
@success-color: @orange;
@success-light-color: #edfae1;

@info-color: @blue;
@info-light-color: #e9f5fe;

@warning-color: @orange;
@warning-light-color: #fff9e6;

@error-color: @red;
@error-light-color: #fde9ef;

@link-color: @H500;
@link-active-color: @H500;
@dropdown-link-active-color: @H500;
@nav-bar-default-active-color: @H500;
@nav-bar-subtle-font-active-color: @H500;
@nav-bar-inverse-active-bg: @H500;
@picker-select-menu-item-selected-color: @H500;

//== Nav
@nav-item-font-default-color: @B600;
@nav-item-default-hover-bg: @H700;
@nav-item-click-bg: @B200;
@nav-tab-waterline-color: @B300;
@nav-subtle-hover-bg: @nav-item-default-hover-bg;
@nav-subtle-waterline-default-color: @B050;

//== Navbar
@nav-bar-default-bg: @B600;
@nav-bar-default-font-color: @H050;
@nav-bar-default-active-color: @H200;
@nav-bar-subtle-bg: @B200;
@nav-bar-subtle-font-color: @B700;
@nav-bar-subtle-font-active-color: @B600;
@nav-bar-subtle-hover-bg: @B050;
@nav-bar-subtle-hover-font-color: @B800;
@nav-bar-inverse-bg: @B600;
@nav-bar-inverse-active-bg: @B600;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// @screen-xs
@screen-phone: 736px;

// Small screen / tablet
// @screen-sm
@screen-tablet: 980px;

// Medium screen / desktop
// @screen-md
@screen-desktop: 1280px;

// Large screen / wide desktop
// @screen-lg
@screen-lg-desktop: 1690px;

// So media queries don't overlap when required, provide a maximum
@screen-phone-max: (@screen-tablet - 1);
@screen-tablet-max: (@screen-desktop - 1);
@screen-desktop-max: (@screen-lg-desktop - 1);

//== Grid system

@grid-gutter-width: 10px;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet: (980px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm: @container-tablet;

// Medium screen / desktop
@container-desktop: (1280px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md: @container-desktop;

// Large screen / wide desktop
@container-large-desktop: (1690px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg: @container-large-desktop;

@border-radius-base: 3px;

//== Buttons
// Default Button color set;
@btn-default-color: @text-color;
@btn-default-bg: @B050;
@btn-default-hover-color: @text-color;
@btn-default-hover-bg: @B200;
@btn-default-active-bg: @B300;
@btn-default-focus-bg: @B200;
@btn-default-disabled-color: @B400;
@btn-default-disabled-bg: @B050;
